.subsidy-font_container{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  backface-visibility: hidden;
  .subsidy-font_left{

  }
  .subsidy-font_mid{

  }
  .subsidy-font_right{

  }
  .font_common{
    display: inline-block;
    vertical-align: baseline;
  }
}